{#
/**
* @file
* Default theme implementation to display a block.
*
* @see template_preprocess_block()
*
* @ingroup themeable
*/
#}
<div id="lity-inline" class="lity-hide lity-popup">
  <div class="modal-entry-header">
    <h2>{{ lity_popup_body |t }}</h2>
  </div>
  <div class="modal-choices">
    <a class="lity-yes" href="/">{{ lity_popup_yes |t }}</a>
    <a class="lity-no" href="/">{{ lity_popup_no |t }}</a>
  </div>
</div>
